@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Carter+One&family=Cinzel+Decorative:wght@900&family=Comfortaa&display=swap');

.App {
  text-align: center;
}

li {
  list-style-type: none
}

.App h1 {
  font-family: 'Cinzel Decorative', cursive;
}